.extension-window {
  width: 400px;
  height: 580px;
  /* box-sizing: border-box; */
  background-color: white;
  margin: none;
}
body {
  padding: 0px;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_2 {
  width: 400px;
  height: 580px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_3 {
  width: 242px;
  color: rgba(20, 20, 20, 1);
  position: absolute;
  top: 20px;
  left: 79px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: center;
}
.v6_4 {
  width: 242px;
  color: rgba(91, 29, 222, 1);
  position: absolute;
  top: 61px;
  left: 79px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v6_5 {
  width: 109px;
  height: 132px;
  background: url("../images/v6_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 44px;
  overflow: hidden;
}
.v6_6 {
  width: 109px;
  height: 132px;
  background: url("../images/v6_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_7 {
  width: 109px;
  color: rgba(74, 74, 74, 1);
  position: absolute;
  top: 111px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v6_8 {
  width: 75px;
  color: rgba(91, 29, 222, 1);
  position: absolute;
  top: 0px;
  left: 17px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v6_77 {
  width: 145px;
  height: 106px;
  background: url("../images/v6_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 211px;
  overflow: hidden;
}
.v6_67 {
  width: 83px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_69 {
  width: 83px;
  color: rgba(74, 74, 74, 1);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_73 {
  width: 83px;
  color: rgba(74, 74, 74, 1);
  position: absolute;
  top: 28px;
  left: 63px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: right;
  padding-right: 3px;
}
.v6_74 {
  width: 83px;
  color: rgba(74, 74, 74, 1);
  position: absolute;
  top: 49px;
  left: 63px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  padding-right: 3px;
  text-align: right;
}
.v6_75 {
  width: 83px;
  color: rgba(74, 74, 74, 1);
  position: absolute;
  top: 71px;
  left: 63px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  padding-right: 3px;
  text-align: right;
}
.v6_76 {
  width: 83px;
  color: rgba(74, 74, 74, 1);
  position: absolute;
  top: 93px;
  left: 63px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  padding-right: 3px;
  text-align: right;
}
.v6_70 {
  width: 83px;
  color: rgba(74, 74, 74, 1);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_71 {
  width: 83px;
  color: rgba(74, 74, 74, 1);
  position: absolute;
  top: 71px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_72 {
  width: 83px;
  color: rgba(74, 74, 74, 1);
  position: absolute;
  top: 93px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_68 {
  width: 83px;
  color: rgba(20, 20, 20, 1);
  position: absolute;
  top: 0px;
  left: 63px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  opacity: 1;
  text-align: right;
  padding-right: 3px;
}
.v6_78 {
  width: 337px;
  color: rgba(91, 30, 222, 1);
  position: absolute;
  top: 273px;
  left: 32px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_79 {
  width: 339px;
  color: rgba(74, 74, 74, 1);
  position: absolute;
  top: 307px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_89 {
  width: 145px;
  height: 28px;
  background: url("../images/v6_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 129px;
  overflow: hidden;
}
.v6_87 {
  width: 145px;
  height: 28px;
  background: rgba(91, 30, 222, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v6_88 {
  width: 68px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 6px;
  left: 39px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
